body {
  font-family: "Open Sans", sans-serif;
  color: black;
  background:white
}


.box-form {
  margin: 0 ;
  width: 100%;
  background: #DEB78A;
  overflow: hidden;
  object-fit: contain;
  display: flex;
  flex: 1 1 100%;
  align-items: stretch;


}
@media (max-width: 980px) {
  .box-form {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}
.box-form div {
  height: auto;
}
.box-form .left {
  margin: 0 auto;
  width:66%;
  object-fit: contain;
  overflow: hidden;
  background-color: white;

}

.box-form .right {
  padding: 70px;
  overflow: hidden;
}

@media (max-width: 980px) {
  .box-form .right {
    width: 100%;
  }
}
.box-form .right h5 {
  font-size: 6vmax;
  line-height: 0;
}
.box-form .right p {
  font-size: 14px;
  color: black;
}
.box-form .right .inputs {
  overflow: hidden;
}
.box-form .right input[type=text], input[type=password]{
  width: 100%;
  padding: 10px;
  margin-top: 25px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #B0B3B9;
}

.box-form .right button {
  background-color: #E6E5AC;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.box-form .right button : hover {
  opacity: 0.8;
}

/* vertical line */
.box-form .right .vl {
  position: absolute;
 left: 83%;
 transform: translate(-50%);
}

.box-form .right .vl-innertext {
  position: absolute;
 top: 50%;
 transform: translate(-50%, -50%);
 background-color: #f1f1f1;
 border: 1px solid #ccc;
 border-radius: 50%;
 padding: 8px 10px;
}


/* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}


/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
  margin-left: 30px;
}

.twitter {
  background-color: #55ACEE;
  color: white;
   margin-left: 30px;
}

.google {
  background-color: #dd4b39;
  color: white;
   margin-left: 30px;
}
